@model Contentful.Web.Models.Product
@{
    ViewBag.Title = "Contentful.Web";
}

<h2>Hi! I'm your personal web app today</h2>
<p>I fetched some content from your CMS :)</p>

<a href="@Model.ProductName">@Model.ProductName</a>
